<!--
/*
 * The contents of this file are subject to the terms of the Common Development and
 * Distribution License (the License). You may not use this file except in compliance with the
 * License.
 *
 * You can obtain a copy of the License at legal/CDDLv1.0.txt. See the License for the
 * specific language governing permission and limitations under the License.
 *
 * When distributing Covered Software, include this CDDL Header Notice in each file and include
 * the License file at legal/CDDLv1.0.txt. If applicable, add the following below the CDDL
 * Header, with the fields enclosed by brackets [] replaced by your own identifying
 * information: "Portions Copyrighted [year] [name of copyright owner]".
 *
 * Copyright 2014-2015 ForgeRock AS
 */
-->
<div class="row">

    <div class="col-md-6">
        <h3>List Users</h3>

        <form class="form" role="form">
            Display these fields:
            <div class="form-group">
                <label class="checkbox-inline">
                    <input ng-model="userName"
                           type="checkbox"> Name
                </label>
                <label class="checkbox-inline">
                    <input ng-model="userMail"
                           type="checkbox"> Email
                </label>
                <label class="checkbox-inline">
                    <input ng-model="userPhone"
                           type="checkbox"> Phone
                </label>
                <!-- TODO: Would be nice to show *all* fields, not just 3. -->
                <label class="checkbox-inline">
                    <input ng-model="userAll"
                           type="checkbox"> All
                </label>
            </div>
        </form>

        <div class="btn-group">
            <button type="button" class="btn btn-default" ng-model="showUsers" btn-radio="true">Show Users</button>
            <button type="button" class="btn btn-default" ng-model="showUsers" btn-radio="false">Hide Users</button>
        </div>

        <div class="table-responsive" ng-show="showUsers">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th ng-show="userName || userAll">Name</th>
                    <th ng-show="userMail || userAll">Email</th>
                    <th ng-show="userPhone || userAll">Phone</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="user in users">
                    <td ng-show="userName || userAll">{{user.fullname[0]}}</td>
                    <td ng-show="userMail || userAll">{{user.mail}}</td>
                    <td ng-show="userPhone || userAll">{{user.phone}}</td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>

    <div class="col-md-6">
        <h3>List Groups</h3>

        <form class="form" role="form">
            Display these fields:
            <div class="form-group">
                <label class="checkbox-inline">
                    <input ng-model="groupName"
                           type="checkbox"> Name
                </label>
                <label class="checkbox-inline">
                    <input ng-model="groupDescription"
                           type="checkbox"> Description
                </label>
                <label class="checkbox-inline">
                    <input ng-model="groupMembers"
                           type="checkbox"> Members
                </label>
            </div>
        </form>


        <div class="btn-group">
            <button type="button" class="btn btn-default" ng-model="showGroups" btn-radio="true">Show Groups</button>
            <button type="button" class="btn btn-default" ng-model="showGroups" btn-radio="false">Hide Groups</button>
        </div>

        <div class="table-responsive" ng-show="showGroups">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th ng-show="groupName">Name</th>
                    <th ng-show="groupDescription">Description</th>
                    <th ng-show="groupMembers">Members</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="group in groups">
                    <td ng-show="groupName">{{group.name}}</td>
                    <td ng-show="groupDescription">{{group.description}}</td>
                    <td ng-show="groupMembers">
                        <ul class="list-unstyled">
                            <li ng-repeat="member in group.members">{{member}}</li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>

</div>

<div class="row">

    <div class="col-md-12">
        <h3>About Querying Collections</h3>

        <p>
            To query a resource collection
            (or resource container if you prefer to think of it that way),
            perform an HTTP GET and accept a JSON response,
            including at least
            a <code>_queryFilter</code> or <code>_queryId</code>
            parameter.
        </p>

        <pre>
GET /users?_queryFilter=true  HTTP/1.1
Host: example.com
Accept: application/json
        </pre>

        <p>
            The server returns the result as a JSON object
            including a <code>"results"</code> array
            and other fields described below.
        </p>

        <p>
            Queries allow a number of query string parameters.
        </p>

        <dl>
            <dt>
                <code>_queryFilter=<em>filter-expression</em></code>
            </dt>
            <dd>
                <p>
                    Query filters request that the resource provider
                    return entries that match the filter expression.
                    You must URL-escape the filter expression.
                </p>

                <p>
                    The string representation is summarized as follows.
                    Continue reading for additional explanation.
                </p>

                <pre>
Expr           = OrExpr
OrExpr         = AndExpr ( 'or' AndExpr ) *
AndExpr        = NotExpr ( 'and' NotExpr ) *
NotExpr        = '!' PrimaryExpr | PrimaryExpr
PrimaryExpr    = '(' Expr ')' | ComparisonExpr | PresenceExpr | LiteralExpr
ComparisonExpr = Pointer OpName JsonValue
PresenceExpr   = Pointer 'pr'
LiteralExpr    = 'true' | 'false'
Pointer        = JSON pointer
OpName         = 'eq' |  # equal to
'co' |  # contains
'sw' |  # starts with
'lt' |  # less than
'le' |  # less than or equal to
'gt' |  # greater than
'ge' |  # greater than or equal to
STRING  # extended operator
JsonValue      = NUMBER | BOOLEAN | '"' UTF8STRING '"'
STRING         = ASCII string not containing white-space
UTF8STRING     = UTF-8 string possibly containing white-space
                </pre>

                <p>
                    A simple filter expression can represent a comparison,
                    presence, or a literal value.
                    For comparisons expression use
                    <code><em>json-pointer</em> <em>comparator</em>
                        <em>json-value</em></code>,
                    where the comparator is one of
                    <code>eq</code> (equals),
                    <code>co</code> (contains),
                    <code>sw</code> (starts with),
                    <code>lt</code> (less than),
                    <code>le</code> (less than or equal to),
                    <code>gt</code> (greater than),
                    or <code>ge</code> (greater than or equal to).
                    For presence, use
                    <code><em>json-pointer</em> pr</code>
                    to match resources where the JSON pointer is present.
                    Literal values include
                    <code>true</code> (match anything)
                    and <code>false</code> (match nothing).
                </p>

                <p>
                    Complex expressions employ
                    <code>and</code>, <code>or</code>,
                    and <code>!</code> (not),
                    with parentheses, <code>(<em>expression</em>)</code>,
                    to group expressions.
                </p>

                <p>
                    The following example shows a query filter
                    that matches resources where
                    the <code>userName</code> contains <code>jensen</code>
                    and the <code>manager/displayName</code> field
                    starts with <code>Sam</code>.
                </p>

                    <pre>
                        _queryFilter=(userName+co+"jensen"+and+manager/displayName+sw+"Sam")
                    </pre>
            </dd>

            <dt>
                <code>_queryId</code>
            </dt>
            <dd>
                <p>
                    Some resource providers have queries
                    that you can specify by identifier.
                </p>

                <p>
                    Some of these specific queries can take their own
                    query string parameter arguments.
                </p>

                    <pre>
                        _queryId=aStoredQuery&amp;storedQueryParam1=someValue
                    </pre>
            </dd>

            <dt>
                <code>_fields=<em>field</em>[,<em>field</em>...]</code>
            </dt>
            <dd>
                <p>
                    Use <code>_field</code> to request
                    that only the specified field(s) be returned.
                </p>
            </dd>

            <dt>
                <code>_pagedResultsCookie=<em>string</em></code>
            </dt>
            <dd>
                <p>
                    The string is an opaque cookie used by the provider
                    to keep track of the position in the search results.
                    The server returns the cookie in the JSON response
                    as the value of <code>"pagedResultsCookie"</code>.
                    In the request <code>_pageSize</code> must
                    also be set and non-zero.
                    You receive the cookie value from the provider
                    on the first request,
                    and then supply the cookie value in subsequent requests
                    until the server returns a null cookie,
                    meaning that the final page of results has been returned.
                </p>
            </dd>

            <dt>
                <code>_pagedResultsOffset=<em>integer</em></code>
            </dt>
            <dd>
                <p>
                    When <code>_pageSize</code> is non-zero,
                    use this as an index in the result set
                    indicating the first page to return.
                    When the value of <code>_pagedResultsOffset</code>
                    is less than 1,
                    the server returns the next page after the last page returned.
                    When the value is greater than or equal to 1,
                    the server returns the page starting from the specified index.
                </p>

                <p>
                    When this value is specified and >= zero,
                    the server calculates <code>"remainingPagedResults"</code>,
                    and provides the value as part of the response.
                    The <code>"remainingPagedResults"</code> reflects
                    an estimate of the number of remaining paged results.
                </p>
            </dd>

            <dt>
                <code>_pageSize=<em>integer</em></code>
            </dt>
            <dd>
                <p>
                    Return query results in pages of this size.
                    After the initial request,
                    use <em>_pagedResultsCookie</em> to page through the results.
                </p>
            </dd>

            <dt>
                <code>_prettyPrint=true</code>
            </dt>
            <dd>
                <p>
                    Pretty print the JSON in the response.
                </p>
            </dd>

            <dt>
                <code>_sortKeys=[+-]<em>field</em>[,[+-]<em>field</em>...]</code>
            </dt>
            <dd>
                <p>
                    Sort the resources returned based on the specified field(s),
                    either in <code>+</code> (ascending, default) order,
                    or in <code>-</code> (descending) order.
                </p>
            </dd>
        </dl>
    </div>

</div>
