<!--
/*
 * The contents of this file are subject to the terms of the Common Development and
 * Distribution License (the License). You may not use this file except in compliance with the
 * License.
 *
 * You can obtain a copy of the License at legal/CDDLv1.0.txt. See the License for the
 * specific language governing permission and limitations under the License.
 *
 * When distributing Covered Software, include this CDDL Header Notice in each file and include
 * the License file at legal/CDDLv1.0.txt. If applicable, add the following below the CDDL
 * Header, with the fields enclosed by brackets [] replaced by your own identifying
 * information: "Portions Copyrighted [year] [name of copyright owner]".
 *
 * Copyright 2014 ForgeRock AS
 */
-->
<div class="row">

    <div class="col-md-4">

        <h3>Select User</h3>

        <form role="form">
            <div class="form-group">
                <label class="sr-only" for="select-user">Select a user</label>
                <select id="select-user"
                        class="form-control"
                        ng-model="user"
                        ng-options="user.fullname[0] for user in users">
                    <option value="">Select a user</option>
                </select>
            </div>
        </form>

        <h3>Read User By ID</h3>

        <form role="form" class="form-inline" ng-submit="readUser()">
            <div class="form-group form-inline">
                <input class="form-control"
                       ng-model="userId"
                       type="text"
                       placeholder="Enter user ID">
            </div>
            <button class="btn btn-default" type="submit">read</button>
        </form>

        <div ng-show="userNotFound">
            <alert type="alert.type"
                   close="userId = ''; userNotFound = false"
                    >{{userNotFound}}</alert>
        </div>

        <!-- Show some attributes of the selected user. -->
        <div ng-show="user.uid"><h3>User</h3></div>
        <div class="panel panel-default"
             ng-show="user.uid"><!-- Hide the panel if no user is selected. -->

            <div class="panel-heading">
                <h3 class="panel-title">{{user.fullname[0]}}
                    <br><small>id: {{user._id}}</small></h3>
            </div>

            <div class="panel-body">
                <dl>
                    <dt>Office</dt>
                    <dd>{{user.location}}, Room: {{user.room}}</dd>

                    <dt>Email</dt>
                    <dd><a href="mailto:{{user.mail}}">{{user.mail}}</a></dd>

                    <dt>Phone</dt>
                    <dd>{{user.phone}}</dd>
                </dl>

                <!-- Generic output
                <dl>
                    <div ng-repeat="(key, value) in user">
                        <dt style="text-transform: capitalize">{{key}}</dt>
                        <dd>{{value}}</dd>
                    </div>
                </dl>
                -->
            </div>
        </div>

    </div>

    <div class="col-md-4">

        <h3>Select Group</h3>

        <form role="form">
            <div class="form-group">
                <label class="sr-only" for="select-group">Select a group</label>
                <select id="select-group"
                        class="form-control"
                        ng-model="group"
                        ng-options="group.name for group in groups">
                    <option value="">Select a group</option>
                </select>
            </div>
        </form>

        <h3>Read Group By ID</h3>

        <form role="form" class="form-inline" ng-submit="readGroup()">
            <div class="form-group form-inline">
                <input class="form-control"
                       ng-model="groupId"
                       type="text"
                       placeholder="Enter group ID">
            </div>
            <button class="btn btn-default" type="submit">read</button>
        </form>

        <div ng-show="groupNotFound">
            <alert type="alert.type"
                   close="groupId = ''; groupNotFound = false"
                    >{{groupNotFound}}</alert>
        </div>

        <!-- Show some attributes of the selected group. -->
        <div ng-show="group.name"><h3>Group</h3></div>
        <div class="panel panel-default"
             ng-show="group.name"><!-- Hide the panel if no group is selected. -->

            <div class="panel-heading">
                <h3 class="panel-title">{{group.name}}
                    <br><small>id: {{group._id}}</small></h3>
            </div>

            <div class="panel-body">
                <dl>
                    <dt>Description</dt>
                    <dd>{{group.description}}</dd>

                    <dt>Members</dt>
                    <dd>
                        <ul class="list-unstyled">
                            <!-- TODO: members are by uid; get fullname instead. -->
                            <li ng-repeat="member in group.members">{{member}}</li>
                        </ul>
                    </dd>
                </dl>

                <!-- Generic output
                <dl>
                    <div ng-repeat="(key, value) in group">
                        <dt style="text-transform: capitalize">{{key}}</dt>
                        <dd>{{value}}</dd>
                    </div>
                </dl>
                -->
            </div>
        </div>

    </div>

    <div class="col-md-4">
        <h3>About Reading Resources</h3>

        <p>
            To retrieve a single resource,
            perform an HTTP GET on the resource
            by its case-sensitive identifier (<code>_id</code>)
            and accept a JSON response.
        </p>

        <pre>
GET /users/bjensen  HTTP/1.1
Host: example.com
Accept: application/json
        </pre>

        <p>
            You can use <code>_prettyPrint=true</code>
            to pretty print the JSON in the response.
        </p>

        <p>
            You can use <code>_fields=<em>field</em>[,<em>field</em>...]</code>
            to request that only specified fields be returned.
        </p>

    </div>

</div>
