<!--
/*
 * The contents of this file are subject to the terms of the Common Development and
 * Distribution License (the License). You may not use this file except in compliance with the
 * License.
 *
 * You can obtain a copy of the License at legal/CDDLv1.0.txt. See the License for the
 * specific language governing permission and limitations under the License.
 *
 * When distributing Covered Software, include this CDDL Header Notice in each file and include
 * the License file at legal/CDDLv1.0.txt. If applicable, add the following below the CDDL
 * Header, with the fields enclosed by brackets [] replaced by your own identifying
 * information: "Portions Copyrighted [year] [name of copyright owner]".
 *
 * Copyright 2014 ForgeRock AS
 */
-->
<div class="row">

    <div class="col-md-4">
        <h3>Read User</h3>

        <form role="form">
            <div class="form-group">
                <select class="form-control"
                        ng-model="user"
                        ng-options="user.fullname[0] for user in users">
                    <option value="">Select a user</option>
                </select>
            </div>
        </form>

        <!-- Show the entire selected user object.
        <pre>{{ {selected_user:user} | json }}</pre>
         -->

        <!-- Show some attributes of the selected user. -->
        <div class="panel panel-default"
             ng-show="user.uid"><!-- Hide the panel if no user is selected. -->

            <div class="panel-heading">
                <h3 class="panel-title">{{user.fullname[0]}}</h3>
            </div>

            <div class="panel-body">
                <dl>
                    <dt>Office</dt>
                    <dd>{{user.location}}, Room: {{user.room}}</dd>

                    <dt>Email</dt>
                    <dd><a href="mailto:{{user.mail}}">{{user.mail}}</a></dd>

                    <dt>Phone</dt>
                    <dd>{{user.phone}}</dd>
                </dl>
            </div>
        </div>

    </div>

    <div class="col-md-4">
        <h3>Read Group</h3>

        <p>
            TODO: Show group in this section.
        </p>
    </div>

    <div class="col-md-4">
        <h3>Reading Resources</h3>

        <p>
            TODO: This page actually doesn't read a resource,
            but instead queries a set of resources.
        </p>

        <p>
            To retrieve a single resource,
            perform an HTTP GET and accept a JSON response.
        </p>

        <pre>
GET /users/1  HTTP/1.1
Host: example.com
Accept: application/json
        </pre>

        <p>
            The following example retrieves Barbara Jensen's resource
            using the <code>curl</code> command.
        </p>

        <pre>$ curl --request GET \
 --header "Accept: application/json" \
 http://localhost:8080/json/users/bjensen?_prettyPrint=true
{
  "uid" : "bjensen",
  "mail" : "bjensen@example.com",
  "phone" : "+1 408 555 1862",
  "fax" : "+1 408 555 1992",
  "location" : "Cupertino",
  "lastname" : "Jensen",
  "uidNumber" : 1076,
  "firstname" : "Barbara",
  "homeDirectory" : "/home/bjensen",
  "_rev" : "0",
  "userpassword" : "hifalutin",
  "_id" : "bjensen",
  "gidNumber" : 1000,
  "fullname" : [ "Barbara Jensen", "Babs Jensen" ],
  "room" : 209
}</pre>

    </div>

</div>
