<!--
/*
 * The contents of this file are subject to the terms of the Common Development and
 * Distribution License (the License). You may not use this file except in compliance with the
 * License.
 *
 * You can obtain a copy of the License at legal/CDDLv1.0.txt. See the License for the
 * specific language governing permission and limitations under the License.
 *
 * When distributing Covered Software, include this CDDL Header Notice in each file and include
 * the License file at legal/CDDLv1.0.txt. If applicable, add the following below the CDDL
 * Header, with the fields enclosed by brackets [] replaced by your own identifying
 * information: "Portions Copyrighted [year] [name of copyright owner]".
 *
 * Copyright 2014 ForgeRock AS
 */
-->
<div class="row">

    <div class="col-md-4">

        <h3>Update User</h3>

        <form role="form">
            <div class="form-group">
                <label class="sr-only" for="select-user">Select a user</label>
                <select id="select-user"
                        class="form-control"
                        ng-model="user"
                        ng-options="user.fullname[0] for user in users">
                    <option value="">Select a user</option>
                </select>
            </div>
        </form>

        <form role="form" ng-submit="updateUser()">

            <div class="form-group">

                <label>First name (required)
                    <input class="form-control"
                           type="text"
                           size="25"
                           required="true"
                           placeholder="Bob"
                           ng-model="user.firstname">
                </label>

                <label>Last name (required)
                    <input class="form-control"
                           type="text"
                           size="25"
                           required="true"
                           placeholder="Dobbs"
                           ng-model="user.lastname">
                </label>

                <label>Email (required)
                    <input class="form-control"
                           type="email"
                           size="25"
                           required="true"
                           placeholder="subgenius@example.com"
                           ng-model="user.mail">
                </label>

                <label>Password
                    <input class="form-control"
                           type="password"
                           size="25"
                           placeholder="Enter new password"
                           ng-model="user.newPassword">
                </label>

                <label>Confirm password
                    <input class="form-control"
                           type="password"
                           size="25"
                           placeholder="Confirm new password"
                           ng-model="user.confirmPassword">
                </label>

                <label>Phone
                    <input class="form-control"
                           type="tel"
                           size="25"
                           placeholder="+1-415-555-1212"
                           ng-model="user.phone">
                </label>

            </div>

            <button class="btn btn-default" type="submit">Submit</button>
            <button class="btn btn-default" type="reset">Reset</button>
        </form>

        <div ng-show="userUpdateFailed">
            <alert type="alert.type" close="userUpdateFailed = false"
                    >{{userUpdateFailed}}</alert>
        </div>

        <div ng-show="userUpdated">

            <h3>Updated User</h3>

            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3 class="panel-title">{{user.firstname}} {{user.lastname}}
                        <br><small>id: {{user._id}}</small></h3>
                </div>

                <div class="panel-body">
                    <dl>
                        <dt>Email</dt>
                        <dd><a href="mailto:{{user.mail}}">{{user.mail}}</a></dd>

                        <dt>Phone</dt>
                        <dd>{{user.phone}}</dd>
                    </dl>
                </div>

            </div>

        </div>

    </div>


    <div class="col-md-4">

        <h3>Update Group</h3>

        <form role="form">
            <div class="form-group">
                <label class="sr-only" for="select-group">Select a group</label>
                <select id="select-group"
                        class="form-control"
                        ng-model="group"
                        ng-options="group.name for group in groups">
                    <option value="">Select a group</option>
                </select>
            </div>
        </form>

        <form role="form" ng-submit="updateGroup()">

            <div class="form-group">

                <label>Name (required)
                    <input class="form-control"
                           type="text"
                           size="25"
                           required="true"
                           placeholder="Administrators"
                           ng-model="group.name">
                </label>

                <label>Description
                    <textarea class="form-control"
                              cols="25"
                              placeholder="About this group"
                              ng-model="group.description"></textarea>
                </label>

                <br>

                <label>Members
                    <label class="sr-only" for="select-members">Select members</label>
                    <select id="select-members"
                            class="form-control"
                            multiple
                            ng-model="group.members"
                            ng-options="user.uid as user.fullname[0] for user in users">
                    </select>
                </label>

            </div>

            <button class="btn btn-default" type="submit">Submit</button>
            <button class="btn btn-default" type="reset">Reset</button>
        </form>

        <div ng-show="groupUpdateFailed">
            <alert type="alert.type" close="groupUpdateFailed = false"
                    >{{groupUpdateFailed}}</alert>
        </div>

        <div ng-show="groupUpdated">

            <h3>Updated Group</h3>

            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3 class="panel-title">{{group.name}}
                        <br><small>id: {{group._id}}</small></h3>
                </div>

                <div class="panel-body">
                    <dl>
                        <dt>Description</dt>
                        <dd>{{group.description}}</dd>

                        <dt>Members</dt>
                        <dd>
                            <ul class="list-unstyled">
                                <!-- TODO: members are by uid; get fullname instead. -->
                                <li ng-repeat="member in group.members">{{member}}</li>
                            </ul>
                        </dd>
                    </dl>
                </div>

            </div>

        </div>

    </div>

    <div class="col-md-4">

        <h3>About Updating Resources</h3>

        <p>
            To update a resource, perform an HTTP PUT including
            the case-sensitive identifier (<code>_id</code>) for the resource
            with the JSON resource as a payload.
            Use the <code>If-Match: <em>_rev</em></code> header
            to check that you are actually updating the version you modified.
            Accept a JSON response.
        </p>

        <pre>
PUT /users/subgenius  HTTP/1.1
Host: example.com
Accept: application/json
Content-Length: ...
Content-Type: application/json
If-Match: <em>_rev</em>
        </pre>

        <p>
            The payload is something like the following in this case.
        </p>

        <pre>
{
    "firstname": "Bob",
    "lastname": "Dobbs",
    "mail": "subgenius@example.com",
    "userpassword": "password",
    "uid": "subgenius",
    "fullname": [
        "Bob Dobbs"
    ],
    "phone": "+1-415-555-1212",
    "location": "San Francisco",
    "room": 1234
}
        </pre>

        <p>
            A success response is HTTP 200 OK with the resource as payload.
        </p>

        <p>
            You can use <code>_prettyPrint=true</code>
            to pretty print the JSON when reading resources
            on the command line.
        </p>

        <p>
            You can use <code>_fields=<em>field</em>[,<em>field</em>...]</code>
            to request that only specified fields be returned.
        </p>

    </div>

</div>
